{% extends '_layout1.html' %}

{% block head_title %}
    Minhas Enquetes
{% endblock %}

{% block content %}
<h1>Enquetes</h1>
<a href="{% url 'poll_add' %}" class="btn btn-lg btn-primary font-weight-bold mb-3">
    + Pergunta
</a>

{% if all_categorias %}
    <p>
        <form action="">
            <select name="categoria" id="categoria">
                <option value="">Todas as categorias</option>
                {% for cat in all_categorias  %}
                    <option value="{{ cat }}" {% if cat == categoria %} selected {% endif %}>
                        {{ cat|title}}
                    </option>
                {% endfor %}
            </select>
        </form>
    </p>
{% endif %}

{% if categoria %}
    <p>
        <h5>Categoria: {{ categoria|title }}</h5>
    </p>
{% endif %}

{% for question in all_questions %}
    <article>
        {% if user.is_authenticated %}
            <p>
                {{ question.pub_date|date:"d/m/Y" }} | {{ question.question_text }}
                {% if not question.choice_set.all %}
                    <span class="badge bg-danger">Sem Alternativas</span>
                {% endif %} |
                <a href="{% url 'question_detail' pk=question.id %}" class="link-secondary">
                    Ver
                </a>   |
                <a href="{% url 'question_edit' question.id %}" class="link-secondary">
                    Editar
                </a>  |
                <a href="{% url 'question_delete' question.id %}" class="link-secondary">
                    Excluir
                </a>
            </p>
            {% else %}
                {% if question.choice_set.all %}
                    <p>
                        {{ question.pub_date|date:"d/m/Y" }} | {{ question.question_text }} |
                        <a href="{% url 'question_detail' pk=question.id %}" class="link-secondary">
                            Ver
                        </a>
                    </p>
                {% endif %}
            {% endif %}
    </article>
{% endfor %}
{% endblock %}


{% block javascript %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        const selectElement = document.querySelector('#categoria');

        selectElement.addEventListener('change', (event) => {
            let selected = selectElement.value;
            if (selected == "") {
                window.location.href = `{% url 'index' %}`;
            } else {
                window.location.href = `{% url 'index' %}${selected}`;
            }
        });

    });
</script>

{% endblock  %}