{% extends '_layout1.html' %} {# herda tudo que já tem em _layout1.html #}
{% block content %} {# substitui o bloco content em _layout1.html #}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Pergunta</h5>
    </div>
    <div class="card-body">
        <p>
            {{ question.question_text }}
            <a href="{% url 'question_edit' pk=question.id %}" class="link-secondary">
                Editar
            </a> &nbsp;
            <a href="{% url 'question_delete' pk=question.id %}" class="link-secondary">
                Excluir
            </a>
        </p>
        <p>Data de publicação: {{ question.pub_date }}</p>
        {% for choice in question.choice_set.all  %}
            <p>{{ choice.id }} - {{ choice.choice_text }}</p>
        {% empty %}
            <h5>Não há alternativas cadastradas</h5>
        {% endfor %}
    </div>
</div>
{% endblock %} {# fecha o bloco content #}